<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Brands</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://localhost:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://localhost:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://localhost:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Portfolio ======-->
		<section class="portfolio section-padding" data-scroll-index="3">
			<div class="container">

				<div class="section-head">
					<h3>All Brands</h3>
				</div>

				<div class="row">

					<!-- gallery -->
					<div class="gallery text-center">

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/allone.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/amd.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/apple.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/audiotechnical.jpg"
									class="brands-img-height" alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/blackberry.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/brother.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/canon.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/cat.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/dell.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/dyson.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/epson.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/fitbit.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/fujifilm.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/garmin.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/google.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/gopro.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/honor.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/hp.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/huawei.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/intel.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/jawbone.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/jbl.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/lenovo.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/lg.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/lifeproof.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/logitech.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/mi.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/microsoft.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/moov.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/mophie.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/motorola.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/nintendo.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/nokia.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/oneplus.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/panasonic.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/parrot.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/pebble.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/philips.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/plantronics.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/rasberrypi.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/razer.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/realme.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/samsung.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/sandisk.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/sony.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/steelseries.png" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/toshiba.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/ultimateears.jpg"
									class="brands-img-height" alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/zoom.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

						<div class="col-md-3 items">
							<div class="item-img">
								<img src="http://localhost:3001/images/brands/zte.jpg" class="brands-img-height"
									alt="image">
								<div class="item-img-overlay">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--====== End Portfolio ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>