<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Brands</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://15.206.74.51:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://15.206.74.51:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Portfolio ======-->
		<section class="portfolio section-padding" data-scroll-index="3">
			<div class="container">
				<img class="mb-20" src="http://15.206.74.51:3001/uploads/<%=brandsHeader%>">
				<!-- <h3>All Brands</h3> -->

				<!-- <div class="section-head">
				</div> -->

				<div class="row">

					<!-- gallery -->
					<div class="gallery text-center">

						<% if (brands.length> 0 ){ %>

							<% for (var i=0; i < brands.length; i++) { %>
								<div class="col-md-3 items">
									<div class="brands-img">
										<img src="http://15.206.74.51:3001/uploads/<%= brands[i].img%>"
											class="brands-img-height" alt="image">
										<div class="item-img-overlay">
										</div>
									</div>
								</div>
								<% } %>

									<% } else { %>
										<p>No Data Found</p>
										<% } %>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Portfolio ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>