<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Career</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://localhost:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://localhost:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://localhost:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Career Pafe ======-->

		<section class="contact section-padding">
			<div class="container">
				<img class="career-img" src="http://localhost:3001/uploads/<%=career%>">
				<p class="career-text">Interested candidates can drop there<br><br> resume at <strong>info@sochglobal.com</strong></p>

			</div>
		</section>
		<!--====== End Career Pafe ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>