<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Career</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://localhost:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://localhost:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://localhost:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Career Pafe ======-->

		<section class="contact section-padding">
			<div class="container">

				<div class="section-head spac">
					<h3>Career Page</h3>
				</div>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim provident aspernatur rerum vel, illo
					deleniti exercitationem hic quidem nobis eius explicabo quam, itaque incidunt odit illum ex cumque
					id libero.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, voluptates eligendi adipisci magni
					iusto dolor laboriosam saepe reprehenderit blanditiis facilis repellat vero reiciendis, explicabo
					ipsum nisi eaque velit voluptate. Dolores, ratione ipsam! Accusantium cumque ratione, provident iure
					esse aperiam natus cupiditate? Non laborum veritatis sequi mollitia distinctio, rem expedita,
					voluptatum magni minus dolor perspiciatis nulla ea! Labore debitis ad perspiciatis tempora officiis,
					neque porro officia obcaecati. Voluptas commodi voluptate laudantium natus ex deleniti maxime
					dolores laborum, provident doloribus, et architecto excepturi pariatur dolor optio officiis nihil id
					numquam molestiae, dolore saepe rerum recusandae! Provident assumenda, distinctio quasi
					necessitatibus iste ducimus velit est illum. Praesentium tenetur labore ratione nulla laboriosam
					error quisquam placeat qui, earum aspernatur voluptate sapiente explicabo! Odio delectus nisi
					molestiae ipsum quod facere blanditiis quibusdam, reprehenderit suscipit molestias illum maxime sint
					tempora nobis asperiores omnis. Dolorem consequatur illum et cum explicabo! Consequuntur sint ea,
					magnam expedita ipsum earum reiciendis distinctio dignissimos reprehenderit dicta corporis itaque
					explicabo temporibus? Minima accusantium perferendis et, laboriosam at, suscipit a enim voluptatem
					inventore sint esse qui quo velit tempora nihil nostrum, iusto magnam. Placeat veniam voluptatem
					dolore fugiat quae sapiente quia quas eveniet at ea, reprehenderit perferendis officiis laboriosam?
					Commodi illum ipsa quibusdam.
				</p>

			</div>
		</section>
		<!--====== End Career Pafe ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>