<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contact</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://localhost:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://localhost:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://localhost:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Contact ======-->
		<section class="contact section-padding">
			<div class="container">

				<div class="section-head spac">
					<h3>Contact</h3>
				</div>

				<div class="row mb-35">
					<div class="col-md-7">
						<form class="form" id="contact-form" method="post" action="contact.php">
							<div class="messages"></div>

							<div class="controls">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input id="form_name" type="text" name="name" placeholder="Name"
												required="required" data-error="Firstname is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input id="form_email" type="email" name="email" placeholder="Email"
												required="required" data-error="Valid email is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input id="form_subject" type="text" name="subject" placeholder="Subject">
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<textarea id="form_message" name="message" placeholder="Message" rows="4"
												required="required" data-error="Message."></textarea>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-sm-offset-3 col-sm-6">
										<input type="submit" value="Send message">
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-5">
						<div class="info">
							<h5>About Soch Global.</h5>
							<p>
								Soch Global is an international trading house and wholesale distributor of branded
								consumer.
								Since 1980.</p>

							<div class="item">
								<span class="icon icon-phone"></span>
								<h6 class="sm-titl">Phone :<br> <span>+1 516-248-8777</span></h6>
							</div>
							<div class="item">
								<span class="icon icon-map-pin"></span>
								<h6 class="sm-titl">Address :<br> <span>211 Denton Avenue, NeW Hyde Park,<br> NY
										11040</span>
								</h6>
							</div>
							<div class="item">
								<span class="icon icon-envelope"></span>
								<h6 class="sm-titl">Email :<br> <span>info@sochglobal.com</span></h6>
							</div>
							<!-- social Icon -->
							<div class="social-icon">
								<a href="#0">
									<span class="bg-facebook"><i class="fab fa-facebook" aria-hidden="true"></i></span>
								</a>
								<a href="#0">
									<span class="bg-twitter"><i class="fab fa-twitter" aria-hidden="true"></i></span>
								</a>
								<a href="#0">
									<span class="bg-instagram"><i class="fab fa-instagram"
											aria-hidden="true"></i></span>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Contact ======-->

		<!--====== Map ======-->
		<div class="map">
			<iframe class="address-map"
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.7549151980243!2d-73.6720016!3d40.7454181!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c262a15ec45ff3%3A0x572e66c7f1ddac11!2s211%20Denton%20Ave%2C%20New%20Hyde%20Park%2C%20NY%2011040%2C%20USA!5e0!3m2!1sen!2sin!4v1614382463968!5m2!1sen!2sin"
				width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
		<!--====== End Map ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>