<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199729484-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-199729484-1');
	</script>

	<meta name="google-site-verification" content="lnI9fxJ2VffQeEI19NyMW-SszhcKA1pg132-
gU1wbeQ" />


	<title>Education</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://3.141.231.119/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://3.141.231.119/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://3.141.231.119/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://3.141.231.119/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://3.141.231.119/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<% include header %>
		<section class="faq section-padding">
			<div class="container">
				<div class="mt-80 mb-40">
					<img src="http://3.141.231.119/images/education2.jpg">
					<img class="education-img" src="http://3.141.231.119/images/education.jpg">
					<p class="education-text">
						<strong>Educational Purchasing</strong><br><br>

						Creating an end-to-end tech solution for a school can be a daunting task. That is why Soch
						Global’s Ed-Tech Department is here to help with everything from planning and installation to
						ongoing tech support. Soch Global’s Ed-Tech strives to make the purchasing experience incredibly
						easy and at the best possible price.<br><br>

						Soch Global Ed-Tech saves you from having to work with multiple vendors; offering a seamless and
						comprehensive experience. Our Tech Support Agents can customize your new devices, install apps
						and provide asset tagging so students are ready to learn from day one. At your school, our
						unmatched combination of space planning, technology and installation expertise will create the
						modern learning environments and virtual capabilities of the future.<br><br>

						<strong>Corporate Purchasing</strong><br><br>

						Soch Global Corporate Purchasing Department is dedicated to your professional success every step
						of the way. Our industry-specific expertise can help you feel confident about your technology
						purchases, no matter the size of your organization. We provide customized solutions for budgets
						of all sizes and organizations at all stages of growth.

						We have a deep understanding of the business fundamentals and industry-specific drivers that
						matter most to our clients. We build strong, collaborative relationships that support our
						clients’ success as they grow and evolve.We build strong, collaborative relationships that
						support our clients’ success as they grow and
						evolve.<br><br>
						Soch Global is a wholesale distributor of brand name consumer products, specializing in
						electronics
						and health and beauty aid. Everything You Need Under One Roof.
						No matter the scope of your project, we’ll help you find the right equipment from our vast
						selection
						and get you up and running quickly.<br><br>
						<strong> Procurement Options</strong><br><br>
						To simplify the purchase process, we offer various procurement options including e-quotes, net
						terms, POS,
						P-Cards, checks, wire transfers and financing options.<br><br>
						<strong> Point of Contact</strong><br><br>
						Work with a personal account manager who consults with you to determine the best equipment for
						your
						needs
						and is your contact for post-sale support.<br><br>
						<strong>A Tech Team That Works For You</strong><br><br>
						With experience across industries and product categories, our Technical Services team offers pre
						and
						post-purchase assistance to solve your complex tech questions and provide solutions that fit
						your
						needs.<br><br>
						<strong>BID Support</strong><br><br>
						We offer a dedicated BID team with extensive product knowledge to ensure a quick response and
						competitive
						pricing.
					</p>
				</div>
			</div>
		</section>
		<% include footer %>
</body>

</html>