<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-199729484-1" ></script>
	<script defer>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-199729484-1');
	</script>

	<meta name="google-site-verification" content="lnI9fxJ2VffQeEI19NyMW-SszhcKA1pg132-
gU1wbeQ" />


	<title>FAQ</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="https://sochglobal.com/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://sochglobal.com/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="https://sochglobal.com/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="https://sochglobal.com/css/style.css">

	<!--[if lt IE 9]-->
	<script defer src="https://sochglobal.com/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Faq ======-->
		<section class="faq section-padding">
			<div class="container">
				<div class="row mt-80 mb-40">
					<img src="https://sochglobal.com/uploads/<%=faq%>">
					<div class="col-md-6">
						<div class="content">
							<div class="accordion">
								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How can I change my account
											details/information?</h6>
									</div>
									<div class="accordion-info active">
										<p>Please email us at info@sochglobal.com to change any information.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>What is your returns policy?</h6>
									</div>
									<div class="accordion-info">
										<p>This will be predetermined with your account manager.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How do I return my products?</h6>
									</div>
									<div class="accordion-info">
										<p>Please contact your account manager.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How can I get a copy of my order
											invoice?</h6>
									</div>
									<div class="accordion-info">
										<p>Your invoice will be sent you via automatically at the time of confirmation.
										</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How much do you charge for shipping?
										</h6>
									</div>
									<div class="accordion-info">
										<p>This will depend on your purchase and will be quoted before confirmation.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How do I complete my purchase?</h6>
									</div>
									<div class="accordion-info">
										<p>Your account manager will walk you through the process.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How do I track my order?</h6>
									</div>
									<div class="accordion-info">
										<p>This will be sent you upon confirmation.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How do I cancel an order?</h6>
									</div>
									<div class="accordion-info">
										<p>Absolutely no cancelations are permitted.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">

						<div class="content">
							<div class="accordion">

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>What delivery options do you
											offer?
										</h6>
									</div>
									<div class="accordion-info">
										<p>We mainly offer FOB, but in some cases can offer CNF.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>What if the product I require
											is out
											of stock?</h6>
									</div>
									<div class="accordion-info">
										<p>We can place the order on back order.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Can I view my order?</h6>
									</div>
									<div class="accordion-info">
										<p>Yes, we can always provide this for you.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Can I modify my order and if
											so how?
										</h6>
									</div>
									<div class="accordion-info">
										<p>Please contact your account manager for any modifications.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Is there a minimum order
											quantity?
										</h6>
									</div>
									<div class="accordion-info">
										<p>Sometimes some minimum order quantity apply.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How do I place an order?</h6>
									</div>
									<div class="accordion-info">
										<p>Please contact us via email or phone.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>What information do I need to
											supply
											in order to become a customer?</h6>
									</div>
									<div class="accordion-info">
										<p>We will send you the new customer application.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Can you send me a brochure of
											your
											products?</h6>
									</div>
									<div class="accordion-info">
										<p>Yes, we can always email you upon request.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>How much does delivery cost
											and how
											long will it take to receive my order?</h6>
									</div>
									<div class="accordion-info">
										<p>This will depends on the purchase, your account manager will be able
											to
											provide this information.</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--====== End Faq ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>