<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contact</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="css/style.css">

	<!--[if lt IE 9]-->
	<script src="js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- Header -->

	<% include header %>

		<!-- End Header -->

		<!--====== Faq ======-->
		<section class="faq section-padding">
			<div class="container">
				<div class="row">
					<div class="section-head spac">
						<h3>FAQ</h3>
					</div>
					<div class="col-md-7">
						<div class="content">
							<div class="accordion">
								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Lorem ipsum dolor sit amet,
											consectetur
											adipisicing elit?</h6>
									</div>
									<div class="accordion-info active">
										<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te,
											his
											dico vituperata ut. in quodsi Ubique maluisset vel te, his dico vituperata
											ut in
											quodsi Ubique.</p>
										<!-- <div class="spac">
										<h6 class="sm-titl">Ubique maluisset vel te :</h6>
										<ul>
											<li>dico vituperata ut</li>
											<li>vituperata ut in Ubique</li>
											<li>in quodsi vulputate pro</li>
										</ul>
									</div> -->
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Lorem ipsum dolor sit amet,
											consectetur
											adipisicing elit?</h6>
									</div>
									<div class="accordion-info">
										<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te,
											his
											dico vituperata ut.vituperata ut in quodsi in quodsiUbique maluisset vel te,
											his
											dico vituperata ut in quodsiUbique. in quodsi vulputate.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h6 class="sm-titl"><span><i class="fas fa-question"
													aria-hidden="true"></i></span>Lorem ipsum dolor sit amet,
											consectetur
											adipisicing elit?</h6>
									</div>
									<div class="accordion-info">
										<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te,
											his
											dico vituperata ut. in vituperata ut in quodsi maluisset vel te, his dico
											vituperata ut in quodsi Ubique. in quodsi vulputate.</p>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="faq-img">
							<img class="faq-img-custom" src="http://localhost:3001/images/faq.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Faq ======-->

		<!-- footer -->

		<% include footer %>

			<!-- End Footer -->

</body>

</html>