<footer>
	<div class="main-footer mt-50">

		<div class="row-footer">
			<div class="col-md-3 items text-center mb-20">
				<div class="item-img">
					<img src="http://localhost:3001/uploads/<%=home%>" class="footer-img-height" alt="image">
					<div class="item-img-overlay">
					</div>
				</div>
			</div>

			<div class="col-md-2 mb-20">
				<p class="address-text mb-20">Address</p>
				<p>211 Denton Avenue </p>
				<p>NeW Hyde Park,<br> New York 11040</p>
				<p>Phone no +1 (516) 248-8777</p>
			</div>

			<div class="col-md-2 items mb-20">
				<h5 class="mb-10">Quick Links</h5>
				<a href="/brands" class="quick-links">Brands</a><br>
				<a href="/faq" class="quick-links">FAQ</a><br>
				<a href="/career" class="quick-links">Career</a><br>
				<a href="/contact" class="quick-links">Contact</a><br>
				<a href="/login" class="quick-links">Login</a>
			</div>
		</div>

		<div class="col-md-5 items">
			<label style="font-size: 20px;" class="mb-20">Join Our NewsLetter</label>
			<form method="POST" action="/newsLetter">
				<div class="form-group">
					<input class="newsletter-input" type="email" name="emailId" id='emailId'
						placeholder="Enter your Email" required>
					<button class="newsletter-button">Subscribe</button>
				</div>
			</form>
		</div>
	</div>
	<div class="float-whatsapp"><a href="https://api.whatsapp.com/send?phone=15162488777"><img
		src="http://localhost:3001/images/whatsapp.png" alt="whatsapp chat bot"></a></div>
	<p class="text-center mr-0">&copy; 2021 By Soch Global | All Rights Reserved.</p>
	</div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<!-- scrollIt -->
<script src="http://localhost:3001/js/scrollIt.min.js"></script>

<!-- magnific-popup -->
<script src="http://localhost:3001/js/jquery.magnific-popup.min.js"></script>

<!-- owl carousel -->
<script src="http://localhost:3001/js/owl.carousel.min.js"></script>

<!-- YouTubePopUp.jquery -->
<script src="http://localhost:3001/js/YouTubePopUp.jquery.js"></script>

<!-- stellar js -->
<script src="http://localhost:3001/js/jquery.stellar.min.js"></script>

<!-- isotope.pkgd.min js -->
<script src="http://localhost:3001/js/isotope.pkgd.min.js"></script>

<!-- jquery.waypoints.min js -->
<script src="http://localhost:3001/js/jquery.waypoints.min.js"></script>

<!-- jquery.counterup.min js -->
<script src="http://localhost:3001/js/jquery.counterup.min.js"></script>

<!-- validator js -->
<script src="http://localhost:3001/js/validator.js"></script>

<!-- Map -->
<script src="http://localhost:3001/js/map.js"></script>

<!-- custom script -->
<script src="http://localhost:3001/js/custom.js"></script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">
	</script>