<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Soch Global</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://localhost:3001/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://localhost:3001/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://localhost:3001/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://localhost:3001/js/html5shiv.min.js"></script>
	<!--[endif]-->
</head>

<body>

	<!-- ====== Preloader ======  -->
	<div class="loading">
		<div class="load-circle"><span class="one"></span></div>
	</div>
	<!-- ======End Preloader ======  -->

	<!-- ====== button-top ======  -->
	<div class="button-top" data-scroll-nav="0">
		<span>
			<i class="fas fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
	<!-- ======End button-top ======  -->

	<!-- ====== Navgition ======  -->
	<p class="contact-headline"><span class="whatsapp-contact"><a href="https://api.whatsapp.com/send?phone=5162488777"><img
		src="http://localhost:3001/images/whatsapp.png" alt="whatsapp chat bot"></a></span><span class="call-us">CALL US +1 516-248-8777</span></p>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#nav-icon-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- logo -->
				<a class="logo" href="#"><img src="" alt="logo"></a>

			</div>

			<!-- Collect the nav links, and other content for toggling -->
			<div class="collapse navbar-collapse" id="nav-icon-collapse">

				<!-- links -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-scroll-nav="0" class="active navbar-home-color-li">Home</a></li>
					<li><a href="#" data-scroll-nav="1" class="navbar-home-color-li">About</a></li>
					<li><a href="/user/computers" class="navbar-home-color-li">Products</a></li>
					<li><a href="/brands" class="navbar-home-color-li">Brands</a></li>
					<li><a href="/faq" class="navbar-home-color-li">FAQ</a></li>
					<li><a href="/carrier" class="navbar-home-color-li">Carrier</a></li>
					<li><a href="/contact" class="navbar-home-color-li">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
	<!-- ====== End Navgition ======  -->

	<!-- ====== Header ======  -->
	<section class="header" data-scroll-index="0">
		<div class="container-fluid">
			<div class="row">
				<div class="caption">
					<div class="content slide1 text-center">
						<div class="v-middle">
							<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">

								<h5>Welcome To <span>soch Global</span></h5>
								<h1>your STRATEGIC PARTNER</h1>
								<a href="/contact">
									<span class="botn">Contact Us</span>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ====== End Header ======  -->

	<!-- ====== Hero ======  -->
	<section class="hero section-padding pb-0" data-scroll-index="1">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<div class="intro text-center mb-80">
						<h4>About us</h4>
						<p>Soch Global is an international trading house and wholesale distributor of branded consumer
							electronics, health and beauty aid products in Newyork Since 1980.
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="hero-img">
						<img src="http://localhost:3001/images/aboutus.jpg" alt="image">
					</div>
				</div>
				<div class="col-md-6">
					<div class="content">
						<div class="item mb-50">
							<span class="icon mt--20"><i class="fa fa-arrow-right icon-arrow-right"
									aria-hidden="true"></i></span>
							<div class="cont">
								<p>
									Soch Global leverages strategic relationships to deliver high quality goods at the
									lowest
									possible prices, particularly in the Middle East, Asia, Europe and South America.
								</p>
							</div>
						</div>
						<div class="item mb-50">
							<span class="icon mt--20"><i class="fa fa-arrow-right icon-arrow-right"
									aria-hidden="true"></i></span>
							<div class="cont">
								<p>
									We offer an international network and expansive reach, comprehensive product
									portfolio,
									quick turnaround and over 40 years of experience.
								</p>
							</div>
						</div>
						<div class="item">
							<span class="icon mt--20"><i class="fa fa-arrow-right icon-arrow-right"
									aria-hidden="true"></i></span>
							<div class="cont">
								<p>
									Our Product range include Laptop, Camera, Audio Systems, Gaming Products, Tablets,
									Amazon
									Products, personal care and hygiene products.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="feat mt-100">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-offset-2 col-md-8">
						<div class="intro text-center mb-80">
							<h4>Why Soch Global ?</h4>
							<p>Over the past 40 years, we have built up a portfolio of world renowned brands, specialising in the most up to date technology products on sale. We supply a vast range of products to the mass merchant, retailer and e-retailer market.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fa fa-life-ring icon-size"></span>
							<h5>Experience</h5>
							<p>Electronics in our blood,
								20+ year of Industry Experience
								Deep Industry Knowledge
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fa fa-truck icon-size"></span>
							<h5>Quick Delivery</h5>
							<p> Fastest Fulfillment Center and Contract with Best Logistics Partners.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fa fa-users icon-size"></span>
							<h5>Experienced Team</h5>
							<p>Staff Having Wide Industry Experiences in sales, Marketing and Finance.</p>
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row text-center">
					<br>
					<div class="col-md-4">
						<div class="item">
							<span class="fas fa-hand-holding-usd icon-size"></span>
							<h5>Best Price</h5>
							<p>
								We believe in Quantity so Quantity is directly proportion to Price. Our Price have no
								match.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fas fa-handshake icon-size"></span>
							<h5>Integrity</h5>
							<p>
								Industry Success is based On "Integrity". Its Our core Principle. Our Long journey of
								success is based on honesty, our belief and integrity. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fas fa-shopping-cart"></span>
							<h5>Easy Order</h5>
							<p>Soch Global streamlines and simplifies the ordering process by stocking products from an extensive range of major brands, offering stockists the ultimate convenience.</p>
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- ====== End Hero ======  -->

	<!-- footer -->

	<% include footer %>
		<div class="float-whatsapp"><a href="https://api.whatsapp.com/send?phone=15162488777"><img
					src="http://localhost:3001/images/whatsapp.png" alt="whatsapp chat bot"></a></div>
		<!-- End Footer -->
</body>

</html>