<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script src="https://www.googletagmanager.com/gtag/js?id=UA-199729484-1" defer ></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-199729484-1');
	</script>

	<meta name="google-site-verification" content="lnI9fxJ2VffQeEI19NyMW-SszhcKA1pg132-
gU1wbeQ" />


	<title>Soch Global</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="http://3.141.231.119/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://3.141.231.119/css/owl.theme.default.min.css">

	<!-- magnific-popup CSS -->
	<link rel="stylesheet" href="http://3.141.231.119/css/magnific-popup.css">

	<!--- Font Awesome Icos CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Core Style Css -->
	<link rel="stylesheet" href="http://3.141.231.119/css/style.css">

	<!--[if lt IE 9]-->
	<script src="http://3.141.231.119/js/html5shiv.min.js" defer ></script>
	<!--[endif]-->
</head>

<body>

	<!-- ====== Preloader ======  -->
	<div class="loading">
		<div class="load-circle"><span class="one"></span></div>
	</div>
	<!-- ======End Preloader ======  -->

	<!-- ====== button-top ======  -->
	<div class="button-top" data-scroll-nav="0">
		<span>
			<i class="fas fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
	<!-- ======End button-top ======  -->

	<!-- ====== Navgition ======  -->

	<div class="contact-headline">
		<% if(session) { %><a href="/logout" class="call-us" value="Logout">Log out</a>
			<% } %>
				<a href="tel:+15162488777" class="call-us">P:<span class="ml-5"> +1 (516) 248-8777</span></a>
	</div>
	<nav class="navbar navbar-default">
		<div class="container mt-20">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#nav-icon-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- logo -->
				<a class="logo" href="/"><img src="http://3.141.231.119/uploads/<%=logo%>" alt="logo"></a>

			</div>

			<!-- Collect the nav links, and other content for toggling -->
			<div class="collapse navbar-collapse" id="nav-icon-collapse">

				<!-- links -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-scroll-nav="0" class="active navbar-home-color-li">Home</a></li>
					<li><a href="#" data-scroll-nav="1" class="navbar-home-color-li">About</a></li>
					<li><a href="/user/computers" class="navbar-home-color-li">Products</a></li>
					<li><a href="/brands" class="navbar-home-color-li">Brands</a></li>
					<li><a href="/faq" class="navbar-home-color-li">FAQ</a></li>
					<li><a href="/education" class="navbar-home-color-li">Value Added Reseller</a></li>
					<li><a href="/caution" class="navbar-home-color-li">Financial Transaction Security</a></li>
					<li><a href="/contact" class="navbar-home-color-li">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
	<!-- ====== End Navgition ======  -->

	<!-- ====== Header ======  -->
	<section class="header" data-scroll-index="0">
		<div class="container-fluid">
			<div class="row">
				<div class="caption">
					<div class="content slide1 text-center">
						<img src="http://3.141.231.119/uploads/<%=landing%>">
						<div class="v-middle">
							<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">

								<h2>Soch Global</h2>
								<h1>YOUR STRATEGIC PARTNER</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ====== End Header ======  -->

	<!-- ====== Hero ======  -->
	<section class="hero section-padding pb-0" data-scroll-index="1">

		<div class="container">
			<div style="position: relative;" class="row">
				<div class="col-md-12">
					<div class="hero-img">
						<img class="about-img" src="http://3.141.231.119/uploads/<%=about%>" alt="image">
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3 mb-20">
					<i style="color: black;" class="fas fa-check"></i>
					<p style="display: inline; margin-left:20px;">Soch Global has developed as a wholesale distributor
						of brand name consumer products, specializing in electronics, health and beauty aid products,
						run by a team with decades of experience.</p>
				</div>
				<div class="col-md-3 mb-20">
					<i style="color: black;" class="fas fa-check"></i>
					<p style="display: inline; margin-left:20px;">Soch Global has developed
						partnerships with global, leading
						brands in the electronics, laptop, camera, audio systems, gaming products, tablets, smart home
						products, personal care, and health sector. </p>
				</div>
				<div class="col-md-3 mb-20">
					<i style="color: black;" class="fas fa-check"></i>
					<p style="display: inline; margin-left:20px;">It is the mission of Soch Global to deliver the
						highest value to our customers at the lowest
						prices in the industry. We pride ourselves on providing outstanding customer service.</p>
				</div>
				<div class="col-md-3 mb-20">
					<i style="color: black;" class="fas fa-check"></i>
					<p style="display: inline; margin-left:20px;">No matter the scope of your needs, we’ll help you find
						the right equipment from our vast selection and get you up and running quickly.</p>
				</div>
			</div>
		</div>

		<div class="ti-numbers ti-section-padding">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6">
						<div class="ti-number text-center mb-md50">
							<span class="ti-number-icon">
								<i class="fas fa-shopping-bag"></i>
							</span>
							<h3 class="ti-number-count">450</h3>
							<h6>Products</h6>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="ti-number text-center mb-md50">
							<span class="ti-number-icon">
								<i class="fas fa-grin-alt"></i>
							</span>
							<h3 class="ti-number-count">20,000</h3>
							<h6>Happy Clients</h6>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="ti-number text-center mb-sm50">
							<span class="ti-number-icon">
								<i class="fas fa-award"></i>
							</span>
							<h3 class="ti-number-count">5</h3>
							<h6>Awards</h6>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="ti-number text-center">
							<span class="ti-number-icon">
								<i class="fas fa-handshake"></i>
							</span>
							<h3 class="ti-number-count">30</h3>
							<h6>Business Partners</h6>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="feat mt-100">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-offset-2 col-md-8">
						<div class="intro text-center mb-80">
							<h4>Why Soch Global ?</h4>
							<p>Over the past 40 years, we have built up a portfolio of world renowned brands,
								specialising in the latest technology products in the market. We supply a vast range
								of products to mass merchants, retailer and e-retailer markets.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fa fa-life-ring icon-size"></span>
							<h5>Experience</h5>
							<p>We have 40+ years of experience with deep industry knowledge.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fa fa-truck icon-size"></span>
							<h5>Quick Delivery</h5>
							<p> Fastest Fulfillment Center and Contract with Best Logistics Partners.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fa fa-users icon-size"></span>
							<h5>Experienced Team</h5>
							<p>Staff Having Wide Industry Experience in sales, Marketing and Finance.</p>
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row text-center">
					<br>
					<div class="col-md-4">
						<div class="item">
							<span class="fas fa-hand-holding-usd icon-size"></span>
							<h5>Best Price</h5>
							<p>
								We offer volume discounts that allows us to have the most competitive pricing globally.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fas fa-handshake icon-size"></span>
							<h5>Integrity</h5>
							<p>
								Our core principle is that industry success is based on integrity and credibility. Our
								long journey of success has been based on these principles. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="fas fa-shopping-cart icon-size"></span>
							<h5>Easy Order</h5>
							<p>Our easy to use software streamlines and simplifies the ordering process. Allowing us to
								deliver major brands with the ultimate convenience.</p>
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
		</div>

		<div class="container mt-50">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<div class="intro text-center mb-40">
						<h4>What we believe in</h4>
						<p class="believe-text">values define our culture and how we work.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row mb-10">
						<div class="col-md-2 text-center">
							<span class="mission-icon"><i class="fas fa-handshake at-Center"></i></span>
						</div>
						<div class="col-md-10">
							<p class="mission-heading">Honesty and Integrity</p>
							<p>We believe that honesty should be at the foundation of every action, which gives
								confidence
								and meaning to the actions we take and drives the way we work.</p>
						</div>
					</div>

					<div class="row mb-10">
						<div class="col-md-2 text-center">
							<span class="mission-icon"><i class="fas fa-headset at-Center"></i></span>
						</div>
						<div class="col-md-10">
							<p class="mission-heading">Customer Satisfaction</p>
							<p>We consistently act on our customer feedback to give you a better user
								experience.
								If you’ve got any questions or concerns, we’ll be here to answer them, and give you
								exactly
								what you’re looking for.</p>
						</div>
					</div>

					<div class="row mb-10">
						<div class="col-md-2 text-center">
							<span class="mission-icon"><i class="fas fa-hand-holding-heart at-Center"></i></span>
						</div>
						<div class="col-md-10">
							<p class="mission-heading">Passion</p>
							<p>Without passion action is meaningless. We believe that work done with passion brings out
								excellence, so we work hard to help business owners like you achieve what you’re
								passionate
								about, and what you’ve imagined for your company.</p>
						</div>
					</div>

				</div>
				<div class="col-md-6">

					<div class="row mb-10">
						<div class="col-md-2 text-center">
							<span class="mission-icon"><i class="fas fa-users at-Center"></i></span>
						</div>
						<div class="col-md-10">
							<p class="mission-heading">Team Effort</p>
							<p>A dedicated team with a common goal is our biggest asset. Our regular discussions bring
								out the best in us and helps to achieve our goals.</p>
						</div>
					</div>

					<div class="row mb-10">
						<div class="col-md-2 text-center">
							<span class="mission-icon"><i class="fas fa-search at-Center"></i></span>
						</div>
						<div class="col-md-10">
							<p class="mission-heading">Transparency</p>
							<p>We communicate our policies, team, and working style. We keep you updated about our
								long-term plans and road-map, and any changes within our company, to ensure that we’re
								always in sync with your business.</p>
						</div>
					</div>

					<div class="row mb-10">
						<div class="col-md-2 text-center">
							<span class="mission-icon"><i class="fas fa-thumbs-up at-Center"></i></span>
						</div>
						<div class="col-md-10">
							<p class="mission-heading">A Never-Give-Up Attitude</p>
							<p>We love challenges, and our never-give-up attitude helps us navigate through them
								easily. <br>We approach every task and opportunity, passion and enthusiasm. This
								attitude
								helps us
								to make the most of every situation.

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ====== End Hero ======  -->

	<!-- footer -->

	<% include footer %>
		<!-- End Footer -->
</body>

</html>